@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global background */
body {
  background-color: #EDE8E1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}